<div class="todo-sorting">
  <div class="ordering">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle class="btn-ordering" value="active" (click)="returnTodoItems('active')">Active</mat-button-toggle>
      <mat-button-toggle class="btn-ordering" value="done" (click)="returnTodoItems('done')">Done</mat-button-toggle>
      <mat-button-toggle class="btn-ordering" value="all" (click)="returnTodoItems('all')">All</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="sorting">
    <button mat-stroked-button [matMenuTriggerFor]="beforeMenu" id="btn-sort">Sorting by ...</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item value="addition" (click)="returnSortingTodoItems('addition')">Addition</button>
      <mat-divider></mat-divider>
      <button mat-menu-item value="descending" (click)="returnSortingTodoItems('descending')">Descending</button>
      <button mat-menu-item value="ascending" (click)="returnSortingTodoItems('ascending')">Ascending</button>
    </mat-menu>
  </div>
</div>

<div class="todo-list">
  <mat-divider></mat-divider>
  <mat-selection-list id="selection-list" *ngFor="let todo of todos$ | async">
    <app-todo-item [todo]="todo"></app-todo-item>
  </mat-selection-list>
</div>
