<mat-list>
  <div class="item">
    <mat-list-item>
      {{todo.name}}
    </mat-list-item>
    <div>
      <mat-checkbox class="checkbox"
                    id="check-active"
                    value="{{todo.id}}"
                    (change)="changeTodoStatus($event.source)"
      ></mat-checkbox>
    </div>
    <div>
      <div *ngIf="!todo.isDone" style="color: #2dba75;">
        Active
      </div>
      <div *ngIf="todo.isDone" style="color: #f14c52;">
        Done
      </div>
    </div>
    <div>
      <mat-icon id="btn-delete" (click)="deleteTodo()">
          <span class="material-icons">
            delete
          </span>
    </mat-icon>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-list>
